{% extends 'base.html' %}

{% block title %}List Projects{% endblock %}

{% block header_title %}List Projects{% endblock %}

{% block content %}
    <div class="container">
      {% for message in get_flashed_messages() %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
        <a class="btn btn-primary my-3" href="{{ url_for('project.new') }}">Nuevo Proyecto</a>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre de Proyecto</th>
                <th scope="col">Descripción</th>
                <th scope="col">Optiones</th>
              </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                  <th scope="row">{{ project.id }}</th>
                  <td>{{ project.name }}</td>
                  <td>{{ project.description }}</td>
                  <td>
                      <a href="{{ url_for('project.edit', project_id=project.id) }}" class="btn btn-warning">Edit</a>
                      <button class="btn btn-danger">Eliminar</button>
                  </td>
                </tr>    
                {% endfor %}
                    
            </tbody>
          </table>
    </div>
{% endblock %}
    